{
	"endOfLine": "lf",
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"vueIndentScriptAndStyle": false,
	"useTabs": false
}
